@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #101b26;
  --foreground: #efebdf;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-plex-sans), system-ui, sans-serif;
}
